*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body, html{
	width: 100%;
	color: white;
	font-family: 'Anton';
}
.margem{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}
/*FUNDO*/
body{
	background-image: url(img/header-img.jpg);
	background-size: 100% 100%;
	height: 100vh;
}
/*FUNDO*/

/*Header*/
header{
	background-repeat: no-repeat;
	padding: 2% 2%;
	background-color: rgba(19, 44, 44, 0.6);
	text-align: center;
}

/*Section 1*/
.container{
	margin-top: 80px;
	display: flex;
	height: 400px;
}
.box-wraper{
	padding: 1% 1% ;
	width: calc(100%/3);
	height: 400px;
}
.box{
	transition: 1s;
	font-family: serif;
	display: flex;
	align-items: center;
	flex-direction: column ;
	padding: 4%;
	border-radius: 25px;
	background-color: rgba(19, 44, 44, 0.8);
	width: 100%;
	height: 100%;
}
.box-img{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 140px;
	height:140px;
}
.box p{
	overflow : hidden;
	height: 44%;
	margin-top: 20px;
}
.box a{
    margin-top: 20px;
    display: inline-block;
    width: 120px;
    height: 43px;
    line-height: 43px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid  rgba(15, 35, 110, 0.9);
    color:  white;
    border-radius: 30px;
    text-align: center;
}
.box a:hover {
	background-image: linear-gradient(115deg, #435D76, #849cae);
}
.box:hover{
	cursor: url(http://www.rw-designer.com/cursor-view/112619.gif), default;
	transform: scale(1.1,1.1);
}
/**/

/*Footer*/
footer{
	border-top: solid 4px  rgba(19, 44, 44, 1);
	text-align: center;
	margin-top: 100px;
}
footer p{
	font-family: fantasy;
	padding: 2%;
	font-size: 20px;
}


@media screen and (max-width: 634px){
	.container{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	height: auto;
}
	.box-wraper{
	padding: 1% 1% ;
	width: 90%;
	height: 400px;
}
footer p{
	font-family: fantasy;
	padding: 4%;
	font-size: 20px;
}
footer{
	border-top: solid 2px #ffffff;
	text-align: center;
	margin-top: 50px;
}
body{
	background-image: url(img/header-img.jpg);
	background-size: 100% 100%;
	height: 100%;
	background-repeat: no-repeat;
}

}